# Firebase Admin SDK
FIREBASE_CREDENTIAL_PATH=./serviceAccountKey.json
GOOGLE_API_KEY=your_google_api_key

# CORS Configuration
ALLOWED_ORIGINS=http://localhost:3000
FRONTEND_URL=http://localhost:3000

# Backend
BACKEND_BASE_URL=http://localhost:8000

# Azure Blob Storage
AZURE_STORAGE_CONNECTION_STRING=your_azure_storage_connection_string
AZURE_CONTAINER_NAME=your_container_name
